.body {
    margin: 0px;
}

.main {
    height: 190px;
    background-color: #11122b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
}

.main a {
    text-decoration: none;
    color: #cbcbcb;
    transition: .4s;

}

.main a:hover {
    color: #cea135;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
}
